<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="titulo2">Adicionar novo contato</div>

  <form >
    <div class="form-group">
      <label for="inputNome">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" #n placeholder="Ex.: Maria da Silva" required>
    </div>

    <div class="form-group">
      <label for="inputEmail">E-mail</label>
      <input type="email" class="form-control" id="email" name="email" #e placeholder="Ex.: mariadasilva@email.com" required>
    </div>

    <div class="form-group">
    <label for="inputTelefone">Telefone</label>
    <input type="tel" class="form-control" id="telefone" name="telefone" #t placeholder="Ex.: (84) 3224-2323" required>
    </div>

    <div class="form-group">
    <label for="inputAniversario">Aniversário</label>
    <input type="date" class="form-control" id="aniversario" name="aniversario" #a required>
    </div>

    <input type="button" class="btn btn-primary" value="Adicionar" (click)="adicionar(n, e, t, a)" />
  </form>

  


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>